html {
  background-color: #5438E0;
  font-family: Verdana;
  color: white;
}

.App {
  margin: 3rem;
}

.Subs {
  margin: 1rem;
}

.sub {
  background-color: #AAE022;
  padding: 1rem;
  margin: 1rem;
}

.characters {
  display: flex;
  flex-wrap: wrap;
  
}

.characterCard {
  margin: 1rem;
  min-height: 15rem;
  width: 20rem;
}

.characterCard img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}